#flex_first,#flex_second{
    display: flex;
    justify-content: center;
}

#flex_first{
    margin-left: 10%;
}
#flex_first ul{
    line-height: 35px;
}

#flex_second{
    display: block;
}

#flex_second input, textarea, select{
    width: 100%;
}

#flex_second input[type="radio"]{
    width: unset;
}

#flex_second input[type="checkbox"]{
    width: unset;
}

#flex_second button{
    width: 98%;    
}

#grid_first{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1rem;
}

#grid_second{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;

}

.box9{
    display: grid;
    grid-template-columns: auto auto auto auto;

}
.box1{
    display: grid;
    grid-row: 1/3;
    grid-column: 1/4;
    grid-template-rows: 5rem;
}



@media screen and (max-width:1199px) and (min-width:600px){
    #grid_first{
        grid-template-columns: auto auto;
    } 
    .box1{
        grid-column: span 2;
    }
    #grid_second,.box9{
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width:599px){
    #grid_first{
        grid-template-columns: auto;
    } 
    #grid_second{
        grid-template-columns: auto;
    }
    .box1{
        grid-column: 1;
        grid-template-rows: initial;
    }
    .box9{
        grid-template-columns: auto;
    }
}