<<<<<<< HEAD
*{
    padding: 0;
    margin: 0;
}

#flex_first,#flex_second{
    display: flex;
    justify-content: center;
}

#flex_first{
    margin-left: 10%;
}

#flex_first ul{
    line-height: 35px;
}

#flex_second{
    display: block;
}

#flex_second input, textarea, select{
    width: 100%;
}

#flex_second input[type="radio"]{
    width: unset;
}

#flex_second input[type="checkbox"]{
    width: unset;
}

#flex_second button{
    width: 98%;    
}



@media screen and (max-width:599){
    
}

@media screen and (max-width:1199) and (min-width:600){

}
@media screen and (min-width:1200){
=======
#grid_first{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1rem;
}




@media screen and (max-width:1199px) and (min-width:600px){
    #grid_first{
        grid-template-columns: auto auto;
    } 
}

@media screen and (max-width:599px){
    #grid_first{
        grid-template-columns: auto;
    } 
>>>>>>> 982b3f507353272db0bfc92bd045b922b635708e
}